PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/kitten_business
SESSION_SECRET=change_this_to_a_long_random_secret
JWT_SECRET=change_this_to_a_long_random_jwt_secret
ADMIN_SEED_EMAIL=sohmacrollins99@gmail.com
ADMIN_SEED_PASSWORD=123456mac
EMAIL_USER=yourgmail@gmail.com
EMAIL_PASS=your_gmail_app_password
